<!-- Blog Post -->

<!-- Title -->
<h1><a href="/{{.URI}}">{{.Title}}</a></h1>
 
<!-- Author -->
<p class="lead">
Tag {{.Tags}}
</p>

<hr>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> {{.Date}}</p>

<hr>

{{.Body}}

本人博客文章采用<a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC Attribution-NonCommercial协议</a>: CC Attribution-NonCommercial 必须保留原作者署名,并且不允许用于商业用途,其他行为都是允许的。
<hr>


<!-- Blog Comments -->

<hr>
